.apiName {
    font-weight: bold;
    display: inline-block;
    margin-left: 5px;
}

.api-list {
    flex: 1 0 auto;
    max-height: 50%;
    padding-left: 25px;
}

.variable-container {
    user-select: none;
    line-height: 1.5em;
    margin-top: 10px;
    cursor: pointer;
}
