# All requirements for all agents and apis
# Some of these dependencies are harder to install (esp. transformers 2.7)
# but are not required for the base version of the system

cachetools==3.1.1
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
darkskylib==0.3.91
dnspython==1.16.0
eventlet==0.29.1
filelock==3.0.12
Flask==0.12.5
Flask-Cors==3.0.8
Flask-SocketIO==4.2.1
frozendict==1.2
future==0.18.2
geographiclib==1.50
geopy==2.0.0
google-api-core==1.23.0
google-auth==1.23.0
google-cloud-core==1.4.4
google-cloud-speech==1.3.0
google-cloud-texttospeech==0.5.0
google-cloud-translate==2.0.0
googleapis-common-protos==1.6.0
googlemaps==3.1.4
greenlet==0.4.17
grpcio==1.29.0
humanfriendly==4.18
idna==2.9
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.17.0
MarkupSafe==1.1.1
nltk==3.4.5
numpy==1.19.4
packaging==20.7
polyline==1.4.0
prompt-toolkit==3.0.4
protobuf==3.12.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pyparsing==2.4.7
python-engineio==3.10.0
python-socketio==4.3.1
pytz==2019.3
rapidfuzz==0.10.0
regex==2020.11.13
requests==2.23.0
rsa==4.6
sacremoses==0.0.43
sentencepiece==0.1.94
six==1.14.0
tokenizers==0.9.2
tqdm==4.54.0
transformers==3.4.0
urllib3==1.25.8
wcwidth==0.1.9
Werkzeug==0.16.0
Whoosh==2.7.4
wit==5.1.0
