.dummy-builder {
    color: grey;   
}
.active-request {
    border-radius: 0 0 5px 5px;
    flex: 0 0 300px;
}
.active-request .variable-container {
    line-height: 2em;
}

.loader {
  border: 10px solid
    rgb(243,128,49);
        border-top-color: rgb(243, 128, 49);
        border-top-style: solid;
        border-top-width: 10px;
    border-top: 10px solid
    rgb(243,128,49);
    border-radius: 5% 5% 50% 50%;
    width: 45px;
    height: 40px;
    animation: spin 1.0s linear infinite;
    margin: 0 auto;
    position: relative;
}
.loader:after {
    height:10px;
    width:10px;
    content: '';
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: white;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.builderButton {
    height: 3em;
    font-size: 16px;
    margin: 20px 1.5%;
    width: 30%;
    background: #dddddd;
    border: solid thin lightgrey;
    border-radius: 15px;
    cursor: pointer;
}

.builderButton:disabled {
    cursor: unset;
}

